html {
	font-family: Arial, sans-serif;
}

.header{
	color: #FFFFFF;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
	position: fixed;
	top: 0px;
	background-color: #3C0077;
	text-align: center;
}

.nav{
	background-color: #EBF5FF;
	text-align: center;
}
.content{
	background-color: #EBF5FF;
	color: #191950;
}



.footer{
	color: #FFFFFF;
	background-color: #3399FF;
	text-align: center;
}
a {
	text-decoration: none;
}

/* unvisited link */
a:link {
    color: #FF3300;
    text-decoration: none;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: #FF3300;
    text-decoration: none;
    font-weight: bold;
}

/* mouse over link */
a:hover {
    color: #990099;
    text-decoration: none;
    font-weight: bold;
}

/* selected link */
a:active {
    color: #990099;
    text-decoration: none;
    font-weight: bold;
}