html {
	font-family: Arial, sans-serif;
}

.header{
	color: #FFFFFF;
	/* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 64px;
	background-color: #3C0077;
	text-align: left;
	float: left;
}

.nav{
	position: fixed;
	width: 100%;
	left: 0px;
	top: 64px;
	height: 64px;
	background-color: #EBF5FF;
	text-align: right;
	float: left;
}
.content{
	background-color: #FAFAFA;
	color: #101010;
	top: 128px;
	/* width: 1000%; */
	float: left;
}



.footer{
	color: #FAFAFA;
	background-color: #101010;
	text-align: center;
	left: 0px;
	bottom: 0px;
	float: left;
}
a {
	text-decoration: none;
}

/* unvisited link */
a:link {
    color: #3C0077;
    text-decoration: none;
    font-weight: bold;
}

/* visited link */
a:visited {
    color: #3C0077;
    text-decoration: none;
    font-weight: bold;
}

/* mouse over link */
a:hover {
    color: #3C0077;
    text-decoration: none;
    font-weight: bold;
}

/* selected link */
a:active {
    color: #990099;
    text-decoration: none;
    font-weight: bold;
}